<div class="container">
  <div class="row">
  	<div class="col-12">
  	  <h1 class="about_header">colorsについて</h1>
  	</div>
  </div>
  <div class="row">
  	<div class="col-12">
  	  <div class="dekirukoto">
  	    <h3 class="about_title">colorsでできること</h3>
  	    <p>colorsでできることcolorsでできることcolorsでできることcolorsでできることcolorsでできることcolorsでできることcolorsでできることcolorsでできることcolorsでできることcolorsでできることcolorsでできることcolorsでできることcolorsでできることcolorsでできることcolorsでできることcolorsでできることcolorsでできることcolorsでできることcolorsでできることcolorsでできることcolorsでできることcolorsでできることcolorsでできることcolorsでできることcolorsでできることcolorsでできることcolorsでできることcolorsでできること</p>
  	  </div>
  	</div>
  </div>
    <div class="row">
  	<div class="col-12">
  	  <div class="tsukaikata">
  	    <h3 class="about_title">colorsの使い方</h3>
  	    <p>colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方colorsの使い方</p>
  	  </div>
  	</div>
  </div>
</div>