<div class="container">
  <div class="row">
  	<div class="col-12">
  	  <h1 class="about_header">colorsについて</h1>
  	</div>
  </div>
  <div class="row">
  	<div class="col-12">
  	  <h3 class="about_title">colorsでできること</h3>
  	</div>
  </div>
    <div class="row">
  	<div class="col-12">
  	  <h3 class="about_title">colorsの使い方</h3>
  	</div>
  </div>
</div>