/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";


img {
	object-fit:cover;
}


footer {
	width: 100%;
	height: 50px;
	background-color: #343a40;
}

#wrapper {
	width: 100%;
	overflow:hidden;
	min-height:100vh;
}

/*top/homeここから*/

.main_visual {
	width: 100%;
	height: 600px;
	background-image: url("p4430.jpg");
	background-size:cover;
}

.top_headline {
	text-align:center;
	margin-top:30px;
	margin-bottom:30px;
}

.top_cosme {
	width: 1000px;
	margin: 0 auto;
}

.top_cosme_items {
	width: 490px;
	height: 490px;
	padding: 5px;
	float: left;
	border: 1px solid black;
}

top_cosme_items_text {
	width: 100%;
	height: 10%;

}

.top_cosme_items:hover {
	background-color: #FFCCCC;
}

.link_to_index {
    margin-top:50px;
    margin-bottom:50px;
	text-align:center;
}

/*top/homeここまで*/


/*about/homeここから*/

.about_header {
    margin-top:50px;
    margin-bottom:50px;
	text-align:center;
}

/*about/homeここまで*/


/* new/cosmetics */

.new_cosmetic_links {
	width: 400px;
	margin:0 auto;
}



.cosmetic_new_header {
	text-align: center;
}

.cosmetic_new_form {
	text-align:center;
}

/* new/cosmeticsここまで */


/* index/cosmeticsここから*/


.cosme_genre {
	text-align: center;
}

.cosme_genre_links {
    width: 60%;
	margin: 20px auto;
}


.cosme_genre_link {
	float: left;
	margin: 10px 10px;
	padding-left: 10px;
}

.border_bar {
	height:5px;
	width:80%;
	background-color:orange;
    margin: 30px auto;
}

/* index/cosmeticsここまで*/


/* show/cosmeticsここから*/

.show_cosmetic_header {
text-align:center;
margin-bottom:50px;
}

.show_cosmetic_image {
	width: 50%;
	float: left;
}

.show_cosmetic_text {
	width: 50%;
	float: right;
}

.delete_button {
	text-align:center;
}


/* show/cosmeticsここまで*/


/* index/wantsここから*/

.index_wants_link {
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
}

/* index/wantsここまで*/


/* show/wantsここから*/

.back_to_index {
	margin-top:50px;
}

/* show/wantsここまで*/