<div class="container">
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<h2 class="show_cosmetic_header"><%= @cosme.product_name %></h2>
			<%= attachment_image_tag @cosme, :image, class:"img-square border", size:"300x300", fallback:"no_image.jpg" %>
		</div>
        <div class="col-2"></div>
	</div>
</div>